@model NGO_HubConnect.Models.Enrollment

@{
    ViewData["Title"] = "Create";
}

<h2>Registration</h2>
<hr/>
<div class="alert alert-success mt-3 text-center" role="alert">
    @ViewData["Message"]
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">See your upcoming events</a>
</div>