
<div class="container-fluid text-center" style=" text-align: center;">
    <div class="page-title">
        <h1 className="text-black px-2">
            Our Leaders
        </h1>
    </div>
    <hr />
 <div class="row mt-4 justify-content-center align-items-center" >

     <div class="col-xs-6 col-md-3">
         <img style="height: 300px;" src="~/image/bhavesh.png" alt="Bhavesh Image" class="rounded">
         <h4>Bhavesh Holey</h4>
            <a href="https://www.linkedin.com/in/bhavesh-holey-7526311b4/">LinkedIn ID</a>
         <h6>Email : bhaveshholey@gmail.com</h6>
     </div>

     <div class="col-xs-6 col-md-3">
         <img style="height: 300px;" src="~/image/krishna.jpg" alt="Krishna Image" class="rounded">
         <h4>Hare Krishna</h4>
            <a href="https://www.linkedin.com/in/krishnakashyap0704/">LinkedIn ID</a>
            <h6>Email : krishnakashyap0704@gmail.com</h6>
     </div>

     <div class="col-xs-6 col-md-3">
         <img style="height: 300px;" src="~/image/akshay.jpg" alt="Akshay Image" class="rounded">
         <h4>Akshay Wagh</h4>
            <a href="https://www.linkedin.com/in/akshay-wagh-74a473b0/">LinkedIn ID</a>
         <h6>Email : akshayw407@gmail.com</h6>
     </div>

 </div>

 <div class="row mt-4 justify-content-center align-items-center" >

     <div class="col-xs-4 col-md-2">
         <img style="height: 300px;" src="~/image/rushikesh.JPG" alt="Rushikesh Image" class="rounded">
         <h4>Rushikesh Patil</h4>
            <a href="https://www.linkedin.com/in/rushikesh-patil-11726628a/">LinkedIn ID</a>
            <h6>Email : rushinpatil7397@gmail.com</h6>
     </div>
        <div class="col-xs-2 col-md-2"></div>
     <div class="col-xs-4 col-md-2">
         <img style="height: 300px;" src="~/image/ajinkya.jpg" alt="Ajinkya Image" class="rounded">
         <h4>Ajinkya Patil</h4>
            <a href="https://www.linkedin.com/in/ajinkya-patil-03403b242/">LinkedIn ID</a>
            <h6>Email : ajinkya.patil1999@gmail.com</h6>
     </div>
</div>
 </div>